.task__container {
  input[type='checkbox'] {
    height: 1rem;
    width: 1rem;

    &:checked {
      accent-color: var(--electric-blue);
    }
  }

  .input__container {
    height: 3rem;

    button {
      display: none;
    }

    input {
      outline: none;
      background-color: transparent;
    }

    &:not(.readonly) {
      input {
        cursor: pointer;
      }

      &:hover:not(:focus-within) {
        cursor: pointer;
        background-color: var(--soft-azure);

        button {
          display: block;
        }
      }

      &:focus-within:not(.focused) {
        cursor: pointer !important;
        background-color: var(--soft-azure);
      }

      &.focused {
        outline: 2px solid var(--sky-blue);
        border-radius: 4px;

        input {
          cursor: text;
        }
      }
    }
  }
}
