@if (task(); as task) {
  <li
    class="draggable__item task__container d-flex align-items-center gap-2"
    cdkDrag
    cdkDragLockAxis="y"
  >
    <input
      type="checkbox"
      name="finished"
      [ngModel]="task.finished"
      (ngModelChange)="onFinishedChange($event)"
    />
    <div
      class="input__container border__rounded d-flex flex-grow-1 px-1"
      #inputContainer
      cdkDragHandle
    >
      <input
        class="font__sm text__misty__gray border-0 flex-grow-1 fw-medium"
        name="name"
        #nameInput
        [ngModel]="task.name"
        (click)="inputContainer.classList.add('focused')"
        (blur)="onNameChange($event)"
      />
      <button
        mat-icon-button
        class="text__misty__gray"
        (mousedown)="taskDeleted.emit()"
      >
        <span class="material-symbols-outlined">delete</span>
      </button>
    </div>
  </li>
}
