<!-- eslint-disable @angular-eslint/template/interactive-supports-focus, @angular-eslint/template/click-events-have-key-events -->

@if (task(); as task) {
  <li
    class="draggable__item task__container d-flex align-items-center gap-2"
    cdkDrag
    cdkDragLockAxis="y"
    [cdkDragDisabled]="!boardService.isSprintModifiable() || isEditing"
  >
    <input
      type="checkbox"
      name="finished"
      [ngModel]="task.finished"
      (ngModelChange)="onFinishedChange($event)"
      *ngIf="boardService.isSprintModifiable()"
    />

    <div
      class="input__container border__rounded d-flex flex-grow-1 px-1 gap-2"
      #inputContainer
      cdkDragHandle
    >
      <p class="m-0 content__editable d-flex align-items-center" style="overflow-wrap: anywhere"
         [title]="task.name"
         #taskName (click)="toggleChangeName()" (blur)="onNameChange()"
         (keydown.enter)="$event.preventDefault(); taskName.blur();"
         (keydown.shift.enter)="$event.preventDefault(); taskName.blur();"> {{ task.name }}</p>
      <button
        mat-icon-button
        (mousedown)="taskDeleted.emit()"
        class="has__hover"
        *ngIf="boardService.isSprintModifiable()"
      >
        <i class="fa-regular fa-trash fa-2xs"></i>
      </button>
    </div>
  </li>
}
