@if (task(); as task) {
  <li
    class="draggable__item task__container d-flex align-items-center gap-2"
    cdkDrag
    cdkDragLockAxis="y"
    [cdkDragDisabled]="!boardService.isSprintModifiable()"
  >
    <input
      type="checkbox"
      name="finished"
      [ngModel]="task.finished"
      (ngModelChange)="onFinishedChange($event)"
      *ngIf="boardService.isSprintModifiable()"
    />
    <div
      class="input__container border__rounded d-flex flex-grow-1 px-1"
      [class.readonly]="!boardService.isSprintModifiable()"
      [class.ms-4]="!boardService.isSprintModifiable()"
      #inputContainer
      cdkDragHandle
    >
      <input
        class="font__sm select__none border-0 flex-grow-1 fw-medium"
        name="name"
        #nameInput
        [ngModel]="task.name"
        [readonly]="evaluateReadOnlyState()"
        (click)="toggleChangeName()"
        (blur)="onNameChange($event)"
      />
      <button
        mat-icon-button
        (mousedown)="taskDeleted.emit()"
        class="has__hover"
        *ngIf="boardService.isSprintModifiable()"
      >
        <i class="fa-regular fa-trash fa-2xs"></i>
      </button>
    </div>
  </li>
}
