<div
  class="wrapper h-100 w-100 d-grid justify-content-center align-items-center"
>
  <mat-card class="form__container shadow">
    <form
      (ngSubmit)="signIn()"
      [formGroup]="signInFormGroup"
      class="h-100 w-100 p-5 d-flex flex-column gap-4 justify-content-center"
    >
      <mat-form-field appearance="outline" floatLabel="always">
        <mat-label>Email</mat-label>
        <input
          autocomplete="email"
          class="font__sm"
          formControlName="email"
          matInput
          placeholder="Type your email"
          type="email"
        />
      </mat-form-field>

      <mat-form-field appearance="outline" floatLabel="always">
        <mat-label>Password</mat-label>
        <input
          [type]="evaluateInputType()"
          autocomplete="current-password"
          class="font__sm"
          formControlName="password"
          matInput
          placeholder="Type your password"
        />
        <button
          (click)="onShowPasswordChange()"
          mat-icon-button
          matIconSuffix
          type="button"
        >
          <i
            [ngClass]="evaluateInputSuffixIcon()"
            class="fa-regular fa-2xs"
          ></i>
        </button>
      </mat-form-field>

      <div class="d-flex justify-content-end">
        <a
          class="select__none font__sm text-black fw-semibold text-decoration-none"
          routerLink="#"
        >Forgot password?</a
        >
      </div>

      <button
        [disabled]="signInFormGroup.invalid"
        color="primary"
        mat-raised-button
        type="submit"
      >
        Sign in
      </button>

      <mat-divider class="my-2"></mat-divider>

      <p class="font__sm text-black m-0 text-center">
        Don't have an account?
        <a
          class="select__none text-black fw-semibold text-decoration-none"
          routerLink="/p/sign-up"
        >Register Now</a
        >
      </p>
    </form>
  </mat-card>
</div>
