<div
  class="wrapper h-100 w-100 d-grid justify-content-center align-items-center"
>
  <mat-card class="form__container shadow">
    <form
      (ngSubmit)="signIn()"
      [formGroup]="signInFormGroup"
      class="h-100 w-100 p-5 d-flex flex-column gap-4 justify-content-center"
    >
      <mat-form-field appearance="outline" floatLabel="always">
        <mat-label>Email</mat-label>
        <input
          matInput
          type="email"
          formControlName="email"
          autocomplete="email"
          placeholder="Type your email"
          class="font__sm"
        />
      </mat-form-field>

      <mat-form-field appearance="outline" floatLabel="always">
        <mat-label>Password</mat-label>
        <input
          matInput
          formControlName="password"
          autocomplete="password"
          [type]="showPassword ? 'text' : 'password'"
          placeholder="Type your password"
          class="font__sm"
        />
        <button
          type="button"
          matIconSuffix
          mat-icon-button
          (click)="showPassword = !showPassword"
        >
          <i
            class="fa-regular {{
              !showPassword ? 'fa-eye' : 'fa-eye-slash'
            }} fa-2xs"
          ></i>
        </button>
      </mat-form-field>

      <div class="d-flex justify-content-end">
        <a
          routerLink="#"
          class="font__sm text-black fw-semibold text-decoration-none"
          >Forgot password?</a
        >
      </div>

      <button
        type="submit"
        mat-raised-button
        color="primary"
        [disabled]="signInFormGroup.invalid"
      >
        Sign In
      </button>

      <mat-divider class="my-2"></mat-divider>

      <p class="font__sm text-black m-0 text-center">
        Don't have an account?
        <a
          routerLink="/p/sign-up"
          class="text-black fw-semibold text-decoration-none"
          >Register Now</a
        >
      </p>
    </form>
  </mat-card>
</div>
