:host ::ng-deep .ck-editor__editable_inline {
  min-height: 15rem !important;
  padding: 0 1.5rem !important;

  background-color: var(--graphite-black) !important;

  color: var(--misty-gray);
  font-size: 0.8rem !important;
}

:host ::ng-deep .ck.ck-toolbar {
  background-color: var(--graphite-black) !important;

  border: none !important;

  color: var(--misty-gray);
}

:host ::ng-deep .ck.ck-editor__main > .ck-editor__editable:not(.ck-focused) {
  border: none !important;
}

:host ::ng-deep .ck.ck-editor__main > .ck-editor__editable {
  border: none !important;
  box-shadow: none !important;
}

:host ::ng-deep .ck-toolbar__items {
  .ck-toolbar__separator {
    background-color: var(--misty-gray) !important;
  }

  .ck-button {
    color: var(--misty-gray) !important;

    &:hover,
    &:active {
      background-color: var(--soft-azure) !important;
    }

    &.ck-on {
      color: var(--misty-gray) !important;

      background-color: var(--soft-azure) !important;

      &:hover,
      &:active {
        background-color: var(--soft-azure) !important;
      }
    }
  }

  .ck-list {
    background-color: var(--graphite-black) !important;

    color: var(--misty-gray) !important;

    .ck-list__item {
      &:hover {
        background-color: var(--soft-azure) !important;
      }
    }
  }
}
