:host ::ng-deep .mat-mdc-text-field-wrapper {
  height: 3rem;

  .mat-mdc-form-field-flex {
    height: 3rem;
  }

  .mat-mdc-form-field-infix {
    padding-top: 0.75rem;
  }
}

:host ::ng-deep .mat-mdc-select-value-text {
  color: var(--misty-gray) !important;
  font-size: 12px;
}

:host ::ng-deep .mat-mdc-select-arrow {
  color: var(--misty-gray) !important;
}

:host ::ng-deep .mat-mdc-text-field-wrapper {
  .mdc-notched-outline__leading,
  .mdc-notched-outline__notch,
  .mdc-notched-outline__trailing {
    border-color: var(--misty-gray) !important;
  }

  &.mdc-text-field--focused {
    .mdc-notched-outline__leading,
    .mdc-notched-outline__notch,
    .mdc-notched-outline__trailing {
      border-color: var(--sky-blue) !important;
    }
  }
}

:host ::ng-deep .mdc-label {
  color: var(--misty-gray) !important;
  font-weight: 500;
  font-size: 12px;
  padding-left: 0.5rem;
}

:host ::ng-deep .mdc-switch {
  &:enabled {
    .mdc-switch__track::after {
      background-color: var(--electric-blue);
    }

    &:hover:not(:focus):not(:active) {
      .mdc-switch__track::after {
        background-color: var(--electric-blue);
      }
    }

    &:focus:not(:active) {
      .mdc-switch__track::after {
        background-color: var(--electric-blue);
      }
    }
  }

  &.mdc-switch--selected {
    &:enabled {
      .mdc-switch__handle::after {
        background-color: var(--electric-blue);
      }

      &:hover:not(:focus):not(:active) {
        .mdc-switch__handle::after {
          background-color: var(--electric-blue);
        }
      }

      &:focus:not(:active) {
        .mdc-switch__handle::after {
          background-color: var(--electric-blue);
        }
      }
    }
  }
}

.actions__container {
  width: 10rem;
  padding: 0.75rem 0;
}

input {
  caret-color: var(--misty-gray) !important;
  color: var(--misty-gray) !important;
  font-size: 12px !important;
}

.due__date {
  width: 10rem;
}

.priority {
  width: 7rem;
}

.default__gap {
  gap: 0.75rem;
}

input[type='checkbox'] {
  height: 1rem;
  width: 1rem;

  margin-top: 1rem;

  &:checked {
    accent-color: var(--electric-blue);
  }
}
