.progress__bar {
  height: 8px;

  ::ng-deep .mdc-linear-progress__bar {
    height: 8px;
  }

  ::ng-deep .mdc-linear-progress__buffer {
    height: 8px;
  }

  ::ng-deep .mdc-linear-progress__buffer-bar {
    background-color: var(--graphite-black);
  }

  ::ng-deep .mdc-linear-progress__bar-inner {
    border-color: var(--electric-blue);
    border-top-width: 8px;
  }
}

.new__task__btn {
  width: 8rem;
  margin-left: 2rem;
}
