@if (checklist(); as checklist) {
  <div class="d-grid gap-3">
    <div class="d-flex align-items-center gap-2">
      <span class="font__sm">{{ progress() }}%</span>

      <mat-progress-bar
        mode="determinate"
        class="progress__bar border__rounded"
        [value]="progress()"
      ></mat-progress-bar>
    </div>

    <ul class="d-grid gap-1 p-0">
      @for (task of checklist.tasks; let index = $index; track index) {
        <todo-task
          [task]="task"
          (taskChange)="taskChange(index, $event)"
          (taskDeleted)="taskDeleted(index)"
        />
      }

      <button
        mat-button
        class="new__task__btn bg__soft___azure has__hover text__misty__gray font__sm fw-medium"
        (mousedown)="addTask()"
      >
        Add a item
      </button>
    </ul>
  </div>
}
