.header__container {
  height: 4rem;
  top: 0;

  background-color: var(--header-color);

  .avatar__btn {
    background-color: #ff991f;
    font-size: 0.65rem;

    height: 2rem;
    width: 2rem;
  }
}
