<header
  class="header__container position-fixed w-100 d-flex align-items-center justify-content-between py-3 px-4"
>
  <a routerLink="/p/home" class="text-decoration-none">
    <h1 class="text-white fw-bolder m-0">Todo</h1>
  </a>

  <button
    mat-mini-fab
    [matMenuTriggerFor]="menu"
    class="avatar__btn text-black fw-bolder"
  >
    @if (userInitials$ | async; as res) {
      {{ res.initials }}
    }
  </button>
</header>

<mat-menu #menu="matMenu" class="overlay__bg">
  <button mat-menu-item (click)="signOut()" class="hoverable text-white">
    Sign Out
  </button>
</mat-menu>
