<!-- eslint-disable @angular-eslint/template/interactive-supports-focus, @angular-eslint/template/click-events-have-key-events -->

@if (list(); as list) {
  <li
    class="draggable__item"
    cdkDrag
    [cdkDragDisabled]="isEditing"
  >
    <mat-card class="border__rounded bg__pale__blue shadow-sm">
      <mat-card-title class="d-flex py-2 px-2" cdkDragHandle>
        <h2
          class="content__editable select__none font__md flex-grow-1 fw-bolder py-2 px-2 m-0"
          #listName
          (blur)="onNameChange()"
          (click)="toggleChangeListName()"
          (keydown.enter)="$event.preventDefault(); listName.blur();"
          (keydown.shift.enter)="$event.preventDefault(); listName.blur();"
        >
          {{ list.name }}
        </h2>

        <!--        <button-->
        <!--          mat-icon-button-->
        <!--          class="has__hover"-->
        <!--          [matMenuTriggerFor]="listMenu"-->
        <!--          *ngIf="boardService.isSprintModifiable()"-->
        <!--        >-->
        <!--          <i class="fa-regular fa-ellipsis fa-sm"></i>-->
        <!--        </button>-->
      </mat-card-title>

      <mat-card-content class="px-2">
        <ol
          class="draggable__container ls__none d-flex flex-column p-1 gap-2"
          cdkDropList
          [cdkDropListData]="cards()"
          (cdkDropListDropped)="onDrop($event)"
          #cardsList
        >
          @for (card of list.cards; track card.id) {
            <todo-card
              [card]="card"
              (deletedCard)="getCards()"
            />
          }
        </ol>
      </mat-card-content>

      <mat-card-actions
        class="list__actions d-flex"
        *ngIf="boardService.isSprintModifiable()"
      >
        <button
          mat-button
          class="border__rounded has__hover font__sm flex-grow-1 justify-content-start fw-medium"
          (click)="addCard()"
        >
                <span class="d-flex gap-2 align-items-center">
                  <i class="fa-regular fa-plus"></i>
                  Add card
                </span>
        </button>
      </mat-card-actions>
    </mat-card>
  </li>
}

<!--<mat-menu #listMenu="matMenu">-->
<!--  <button (click)="removedList.emit()" mat-menu-item class="has__hover">-->
<!--    Delete list-->
<!--  </button>-->

<!--  <button mat-menu-item class="has__hover" [matMenuTriggerFor]="sortMenu">-->
<!--    Sort By-->
<!--  </button>-->
<!--</mat-menu>-->

<!--<mat-menu #sortMenu="matMenu">-->
<!--  <button (click)="sortByCreationDate('desc')" mat-menu-item class="has__hover">-->
<!--    Creation date (newest first)-->
<!--  </button>-->

<!--  <button (click)="sortByCreationDate()" mat-menu-item class="has__hover">-->
<!--    Creation date (oldest first)-->
<!--  </button>-->

<!--  <button (click)="sortByName()" mat-menu-item class="has__hover">-->
<!--    Name A-Z-->
<!--  </button>-->

<!--  <button (click)="sortByName('desc')" mat-menu-item class="has__hover">-->
<!--    Name Z-A-->
<!--  </button>-->

<!--  <button (click)="sortByPriority('desc')" mat-menu-item class="has__hover">-->
<!--    Priority (highest to lowest)-->
<!--  </button>-->

<!--  <button (click)="sortByPriority()" mat-menu-item class="has__hover">-->
<!--    Priority (lowest to highest)-->
<!--  </button>-->
<!--</mat-menu>-->

<!--<ng-template #cardDetail>-->
<!--  <todo-card-detail-->
<!--    [card]="card"-->
<!--    (deletedCard)="onDeletedCard(card.id)"-->
<!--    (cardChange)="onCardChange($event)"-->
<!--    (closeModal)="dialogRef.close()"-->
<!--  ></todo-card-detail>-->
<!--</ng-template>-->
