@if (list(); as list) {
  <mat-card class="list__container rounded-4 w-100">
    <mat-card-title class="d-flex py-2 px-2">
      <h2
        class="list__title content__editable text__misty__gray flex-grow-1 fw-bolder py-2 px-2 m-0"
        contenteditable
        #h1
        (blur)="handleTitleChange(list, h1.innerText)"
      >
        {{ list.name }}
      </h2>

      <button
        mat-icon-button
        class="has__hover text__soft__blue"
        [matMenuTriggerFor]="listMenu"
      >
        <span class="material-symbols-outlined">more_horiz</span>
      </button>
    </mat-card-title>

    <mat-card-content class="px-2">
      <ol
        class="ls-none d-flex flex-column p-1 gap-2"
        cdkDropList
        [cdkDropListData]="list.cards"
        (cdkDropListDropped)="drop($event)"
      >
        @for (card of list.cards; let index = $index; track index) {
          <li cdkDrag>
            <todo-card [card]="card" (cardChange)="cardChange(index, $event)" />
          </li>
        }
      </ol>
    </mat-card-content>

    <mat-card-actions class="list__actions d-flex">
      <button
        mat-button
        class="has__hover text__misty__gray rounded-4 flex-grow-1 justify-content-start fw-medium"
        (mousedown)="addCard()"
      >
        <span class="d-flex gap-2 align-items-center">
          <span class="material-symbols-outlined fs-5">add</span>
          Add a card
        </span>
      </button>
    </mat-card-actions>
  </mat-card>
}

<mat-menu #listMenu="matMenu" class="overlay__bg">
  <button (click)="removedList.emit()" mat-menu-item class="has__hover">
    Delete list
  </button>
</mat-menu>
