@if (list(); as list) {
  <mat-card class="wrapper w-100 bg__tertiary">
    <mat-card-title class="py-3 px-4">
      <h2 class="list__title m-0 text-white">{{ list.name }}</h2>
    </mat-card-title>

    <mat-card-content class="card__content d-flex flex-column gap-2">
      @for (card of list.cards; track card.name) {
        <todo-card [card]="card"/>
      }
    </mat-card-content>

    <mat-card-actions class="d-flex px-3">
      <button mat-button class="btn new__card__btn text-white d-flex justify-content-start flex-grow-1">
        <mat-icon>add</mat-icon>
        <span>Add a card</span>
      </button>
    </mat-card-actions>
  </mat-card>
}
