@if (list(); as list) {
  <li class="draggable__item" cdkDrag>
    <mat-card class="bg__charcoal-gray border__rounded">
      <mat-card-title class="d-flex py-2 px-2" cdkDragHandle>
        <h2
          class="content__editable text__misty__gray font__md flex-grow-1 fw-bolder py-2 px-2 m-0"
          #listName
          (blur)="onNameChange()"
          (click)="toggleEditHeader()"
        >
          {{ list.name }}
        </h2>

        <button
          mat-icon-button
          class="has__hover text__soft__blue"
          [matMenuTriggerFor]="listMenu"
        >
          <i class="fa-regular fa-ellipsis fa-sm"></i>
        </button>
      </mat-card-title>
      <mat-card-content class="px-2">
        <ol
          class="draggable__container ls__none d-flex flex-column p-1 gap-2"
          cdkDropList
          [cdkDropListData]="list.cards"
          (cdkDropListDropped)="onDrop($event)"
          #cardsList
        >
          @for (card of list.cards; let index = $index; track index) {
            <todo-card
              [card]="card"
              (cardChange)="onCardChange(index, $event)"
              (deletedCard)="onDeletedCard(index)"
            />
          }
        </ol>
      </mat-card-content>
      <mat-card-actions class="list__actions d-flex">
        <button
          mat-button
          class="border__rounded has__hover text__misty__gray font__sm flex-grow-1 justify-content-start fw-medium"
          (click)="addCard()"
        >
          <span class="d-flex gap-2 align-items-center">
            <i class="fa-regular fa-plus"></i>
            Add a card
          </span>
        </button>
      </mat-card-actions>
    </mat-card>
  </li>
}

<mat-menu #listMenu="matMenu" class="bg__slate__gray">
  <button (click)="removedList.emit()" mat-menu-item class="has__hover">
    Delete list
  </button>

  <button mat-menu-item class="has__hover" [matMenuTriggerFor]="sortMenu">
    Sort By
  </button>
</mat-menu>

<mat-menu #sortMenu="matMenu" class="bg__slate__gray">
  <button (click)="sortByCreationDate('desc')" mat-menu-item class="has__hover">
    Creation date (newest first)
  </button>
  <button (click)="sortByCreationDate()" mat-menu-item class="has__hover">
    Creation date (oldest first)
  </button>
  <button (click)="sortByDueDate('desc')" mat-menu-item class="has__hover">
    Due date (highest to lowest)
  </button>
  <button (click)="sortByDueDate()" mat-menu-item class="has__hover">
    Due date (lowest to highest)
  </button>
  <button (click)="sortByName()" mat-menu-item class="has__hover">
    Name A-Z
  </button>
  <button (click)="sortByName('desc')" mat-menu-item class="has__hover">
    Name Z-A
  </button>
  <button (click)="sortByPriority('desc')" mat-menu-item class="has__hover">
    Priority (highest to lowest)
  </button>
  <button (click)="sortByPriority()" mat-menu-item class="has__hover">
    Priority (lowest to highest)
  </button>
</mat-menu>
