.list__container {
  background-color: var(--charcoal-gray);

  .list__title {
    font-size: 14px;
  }

  ol {
    min-height: 1.5rem;
    max-height: 30rem;

    overflow-y: auto;

    li:hover {
      cursor: pointer;
    }
  }

  .has__hover {
    font-size: 0.8rem;
  }

  .list__actions {
    padding-inline: 0.75rem;
  }
}
