.wrapper {
  .list__title {
    font-size: 14px;
    font-weight: 600;
  }

  ol {
    min-height: 1rem;

    li:hover {
      cursor: pointer;
    }
  }

  .new__card__btn {
    font-size: .8rem;

    &:hover {
      background-color: var(--senary-color)
    }
  }
}
