.draggable__item:hover {
  cursor: pointer;
}

.card__container {
  &:hover {
    outline: 2px solid var(--sky-blue);
  }

  .card__footer {
    gap: 0.75rem;
    height: 1.5rem;

    .type {
      &.story {
        color: green;
      }

      &.task {
        color: blue;
      }

      &.bug {
        color: red;
      }
    }

    .priority {
      &.low {
        color: #0065ff;
      }

      &.medium {
        color: #ffab00;
      }

      &.high {
        color: #ff5630;
      }
    }
  }
}
