@if (card(); as card) {
  <li class="draggable__item" cdkDrag>
    <mat-card
      class="card__container bg__graphite__black text__misty__gray border__rounded w-100 py-2 px-3"
      (click)="showCardDetails()"
    >
      <mat-card-title>
        <h3 class="font__sm select__none m-0 fw-medium">
          {{ card.name }}
        </h3>
      </mat-card-title>

      @if (evaluateFooterVisibility()) {
        <mat-card-footer
          class="card__footer text__misty__gray font__sm d-flex align-items-center fw-medium"
        >
          @if (card.priority) {
            <i
              class="fa-solid fa-lg priority {{ evaluatePriority() }} {{
                evaluatePriorityIcon()
              }}"
            ></i>
          }
          @if (card.description) {
            <i class="fa-regular fa-align-left fa-lg"></i>
          }
          @if (card.checklist && card.checklist.tasks.length) {
            <span class="d-flex align-items-center gap-1 fw-medium">
              <i class="fa-regular fa-square-check fa-lg"></i>
              {{ evaluateCheckListStatus() }}
            </span>
          }
          @if (card.timeSpent) {
            <span class="bg__sky__blue rounded-5 px-2 fw-medium text-black"
              >{{ card.timeSpent }}h</span
            >
          }
          @if (card.dueDate) {
            <span
              class="due__date border__rounded d-flex align-items-center px-2 gap-1 fw-medium"
              [ngClass]="evaluateDueDateStatus()"
            >
              <i class="fa-regular fa-calendar fa-lg"></i>
              {{ card.dueDate | date: 'MM/dd/yyyy' }}
            </span>
          }
        </mat-card-footer>
      }
    </mat-card>
    <ng-template #cardDetail>
      <todo-card-detail
        [card]="card"
        (cardChange)="onCardChange($event)"
        (deletedCard)="deletedCard.emit()"
      ></todo-card-detail>
    </ng-template>
  </li>
}
