@if (card(); as card) {
  <mat-card
    class="card__wrapper bg__graphite__black text__misty__gray rounded-4 w-100 py-2 px-3"
    (click)="showCardDetails()"
  >
    <mat-card-title>
      <h3 class="card__title select-none m-0 fw-medium">
        {{ card.name }}
      </h3>
    </mat-card-title>
    <mat-card-footer
      class="card__info text__misty__gray d-flex gap-2 align-items-center fw-medium"
    >
      @if (card.description) {
        <mat-icon>format_align_left</mat-icon>
      }

      @if (card.checklist) {
        <span class="d-flex align-items-center py-1 gap-1">
          <mat-icon>check_box</mat-icon>
          {{ checkListStatus() }}
        </span>
      }

      @if (card.dueDate) {
        <span
          class="due__date rounded d-flex align-items-center py-1 gap-1"
          [ngClass]="dueDateStatus()"
        >
          <mat-icon>schedule</mat-icon>
          {{ card.dueDate | date: 'MM/dd/yyyy' }}
        </span>
      }
    </mat-card-footer>
  </mat-card>

  <ng-template #cardDetail>
    <todo-card-detail
      [card]="card"
      (cardChange)="cardChange($event)"
    ></todo-card-detail>
  </ng-template>
}
