.card__container {
  .card__title {
    font-size: 0.8rem;
    font-weight: 400;
  }

  .card__footer {
    .due__date {
      &.pending {
        background-color: #f2d600;
        padding: 0 0.5rem;
        color: #000;
      }

      &.overdue {
        background-color: red;
        padding: 0 0.5rem;
      }

      &.finished {
        background-color: #61bd4f;
        padding: 0 0.5rem;
      }
    }
  }

  &:hover {
    outline: 2px solid var(--sky-blue);
  }
}
