<div
  class="wrapper h-100 w-100 d-grid justify-content-center align-items-center"
>
  <mat-card class="form__container shadow">
    <form
      (ngSubmit)="signUp()"
      [formGroup]="formGroup"
      class="h-100 w-100 p-5 d-flex flex-column gap-4 justify-content-center"
    >
      <mat-form-field appearance="outline" floatLabel="always">
        <mat-label>First name</mat-label>
        <input
          autocomplete="given-name"
          class="font__sm"
          formControlName="firstName"
          matInput
          placeholder="Type your first name"
          type="email"
        />
      </mat-form-field>

      <mat-form-field appearance="outline" floatLabel="always">
        <mat-label>Last name</mat-label>
        <input
          autocomplete="family-name"
          class="font__sm"
          formControlName="lastName"
          matInput
          placeholder="Type your last name"
          type="email"
        />
      </mat-form-field>

      <mat-form-field appearance="outline" floatLabel="always">
        <mat-label>Phone</mat-label>
        <ngx-mat-input-tel
          [enablePlaceholder]="true"
          [preferredCountries]="['us', 'br']"
          class="font__sm"
          formControlName="phone"
          format="international"
          inputPlaceholder="Type your phone"
        ></ngx-mat-input-tel>
      </mat-form-field>

      <mat-form-field appearance="outline" floatLabel="always">
        <mat-label>Email</mat-label>
        <input
          autocomplete="email"
          class="font__sm"
          formControlName="email"
          matInput
          placeholder="Type your email"
          type="email"
        />
      </mat-form-field>

      <div class="d-flex flex-column gap-2">
        <mat-form-field appearance="outline" floatLabel="always">
          <mat-label>Password</mat-label>
          <input
            [type]="evaluateType()"
            autocomplete="current-password"
            class="font__sm"
            formControlName="password"
            matInput
            placeholder="Type your password"
          />
          <button
            (click)="onShowPasswordChange()"
            mat-icon-button
            matIconSuffix
            type="button"
          >
            <i [ngClass]="evaluateSuffixIcon()" class="fa-regular fa-2xs"></i>
          </button>
        </mat-form-field>

        <ul class="m-0 px-3">
          <li class="m-0 text-black-50 font__sm">At least 8 characters</li>
          <li class="m-0 text-black-50 font__sm">
            At least one capital letter
          </li>
          <li class="m-0 text-black-50 font__sm">
            At least one lowercase letter
          </li>
          <li class="m-0 text-black-50 font__sm">At least one number</li>
          <li class="m-0 text-black-50 font__sm">
            At least one special character
          </li>
        </ul>
      </div>

      <mat-form-field appearance="outline" floatLabel="always">
        <mat-label>Confirm password</mat-label>
        <input
          [errorStateMatcher]="passwordMatcher"
          [type]="evaluateType()"
          autocomplete="current-password"
          class="font__sm"
          formControlName="confirmPassword"
          matInput
          placeholder="Type your password"
        />
      </mat-form-field>

      <button
        [disabled]="formGroup.invalid"
        color="primary"
        mat-raised-button
        type="submit"
      >
        Sign up
      </button>

      <mat-divider class="my-2"></mat-divider>

      <p class="font__sm text-black m-0 text-center">
        Already have an account?
        <a
          class="select__none text-black fw-semibold text-decoration-none"
          routerLink="/p/sign-in"
        >Sign in</a
        >
      </p>
    </form>
  </mat-card>
</div>
