/* You can add global styles to this file, and also import other style files */

@import 'bootstrap/scss/bootstrap';

html,
body {
  height: 100%;
}

body {
  margin: 0;
  overflow-y: hidden;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  background-color: #f3f3f3;
}

:root {
  --color-white: #fafbfcff;
  --header-color: #1d2125;
  --list-color: #101204;
  --overlay-color: #282e33;
  --overlay-item-hovered-color: #a6c5e229;
  --card-color: #22272b;
  --board-header-color: #0000003d;
  --transparent-color: #ffffff3d;
}

::-webkit-scrollbar {
  background-color: var(--overlay-color);
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-track {
  background-color: var(--overlay-color);
}

::-webkit-scrollbar-thumb {
  background-color: var(--overlay-item-hovered-color);
  border: 0 solid #fff;
}

::-webkit-scrollbar-button {
  display: none;
}

.card__bg {
  background-color: var(--card-color) !important;
}

.board__bg {
  background: rgb(11, 77, 156);
  background: linear-gradient(
    158deg,
    rgba(11, 77, 156, 1) 0%,
    rgba(36, 121, 138, 1) 54%
  );
}

.select-none {
  user-select: none;
}

.ls-none {
  list-style: none !important;
}

.fs-7 {
  font-size: 14px !important;
}

.fs-8 {
  font-size: 0.8rem !important;
}

.content__editable {
  &:hover {
    cursor: pointer;
  }

  &:focus-within {
    outline: 1px solid var(--color-white);
    border-radius: 4px;
  }
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  list-style: none;
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

ol {
  &.cdk-drop-list-dragging {
    li:not(.cdk-drag-placeholder) {
      transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
    }
  }
}

.overlay__bg {
  background-color: var(--overlay-color) !important;

  .mdc-dialog__surface {
    background-color: var(--overlay-color) !important;
  }
}

.hoverable:hover {
  background-color: var(--overlay-item-hovered-color) !important;
}

.mat-mdc-menu-item {
  height: 1rem !important;
  min-height: 0.5rem !important;
  padding: 1.5rem !important;

  .mat-mdc-menu-item-text {
    font-size: 0.8rem !important;
  }
}
