<div class="card__wrapper p-4 d-grid gap-3">
  <section
    class="boards__header d-flex justify-content-between align-items-center"
  >
    <h2>Boards</h2>

    <mat-form-field appearance="outline">
      <mat-icon matIconPrefix> search</mat-icon>

      <mat-label>Search Boards</mat-label>
      <input matInput />
    </mat-form-field>
  </section>

  @if (boards$ | async; as boards) {
    <ul class="boards__container p-0 ls-none">
      @for (board of boards; track board._id) {
        <li>
          <todo-board-card [board]="board" />
        </li>
      }

      @if (loaded()) {
        <li>
          <button
            mat-button
            class="bg__graphite__black w-100 h-100 fw-bolder fs-6 text-white"
            (mousedown)="newBoard()"
          >
            <mat-icon>add</mat-icon>
            New board
          </button>
        </li>
      }
    </ul>
  }
</div>
