@if (board(); as board) {
  <div class="board__container d-flex flex-column w-100 h-100">
    <div class="board__header d-flex w-100 align-items-center px-3">
      <h1
        class="content__editable has__hover rounded select-none m-0 fs-5 fw-bolder text-white px-2"
        contenteditable
        #h1
        (blur)="handleTitleChange(h1.innerText)"
      >
        {{ board.name }}
      </h1>
    </div>

    <ol
      class="ls-none w-100 d-flex flex-grow-1 px-4 pt-4 mb-0 gap-2"
      cdkDropListGroup
      cdkDropList
      cdkDropListOrientation="horizontal"
      (cdkDropListDropped)="drop($event)"
    >
      @for (list of board.lists; let index = $index; track index) {
        <li cdkDrag>
          <todo-list
            [list]="list"
            (listChange)="listChange(index, $event)"
            (removedList)="removedList(index)"
          />
        </li>
      }

      @if (loaded()) {
        <button
          mat-button
          class="new__list__btn d-flex justify-content-start py-4 rounded-4 fw-medium text-white"
          (mousedown)="addList()"
        >
          <span class="d-flex gap-2 align-items-center">
            <span class="material-symbols-outlined fs-5">add</span>
            Add another list
          </span>
        </button>
      }
    </ol>
  </div>
}
