.board__container {
  background: #005586;

  .board__header {
    padding-inline: 1.25rem;

    height: 4rem;

    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
  }

  ol {
    overflow-x: auto;

    .list__item {
      flex-basis: 20rem;
      flex-shrink: 0;
    }
  }
}
