@if (board(); as board) {
  <div class="board__container bg__ocean__blue d-flex flex-column w-100 h-100">
    <div class="board__header bg__transparent__black d-flex align-items-center">
      <h1
        class="has__hover border__rounded content__editable select__none m-0 px-2 fs-5 fw-bolder text-white"
        contenteditable
        #boardName
        (blur)="onNameChange()"
      >
        {{ board.name }}
      </h1>
    </div>
    <ol
      class="draggable__container ls__none d-flex flex-grow-1 mb-0 p-4 gap-3"
      cdkDropListGroup
      cdkDropList
      cdkDropListOrientation="horizontal"
      (cdkDropListDropped)="onDrop($event)"
      #boardLists
    >
      @for (list of board.lists; let index = $index; track index) {
        <todo-list
          class="list__item"
          [list]="list"
          (listChange)="onListChange(index, $event)"
          (removedList)="onRemovedList(index)"
        />
      }
      @if (loaded()) {
        <button
          mat-button
          class="list__item bg__transparent__white border__rounded font__sm d-flex justify-content-start py-4 fw-medium text-white"
          (click)="addList()"
        >
          <span class="d-flex gap-2 align-items-center">
            <i class="fa-regular fa-plus"></i>
            Add another list
          </span>
        </button>
      }
    </ol>
  </div>
}
