.board__container {
  background: rgb(11, 77, 156);
  background: linear-gradient(
    158deg,
    rgba(11, 77, 156, 1) 0%,
    rgba(36, 121, 138, 1) 54%
  );

  .board__header {
    padding-inline: 1.25rem;

    height: 4rem;

    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
  }

  ol {
    overflow-x: auto;

    .list__item {
      flex-basis: 20rem;
      flex-shrink: 0;
    }
  }
}
