.wrapper {
  .board__header {
    height: 4rem;
  }

  ol {
    overflow-x: scroll;

    li {
      flex-basis: 20rem;
      flex-shrink: 0;

      &:hover {
        cursor: pointer;
      }
    }
  }
}

::-webkit-scrollbar {
  background-color: #fff;
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: #dadbe2;
}

::-webkit-scrollbar-thumb {
  background-color: #bfc4ce;
  border-radius: 16px;
  border: 0px solid #fff;
}

::-webkit-scrollbar-button {
  display: none;
}
