.wrapper {
  .board__header {
    height: 4rem;

    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);

    background-color: #0000003d;
  }

  ol {
    overflow-x: auto;

    li {
      flex-basis: 20rem;
      flex-shrink: 0;
      height: fit-content;

      &:hover {
        cursor: pointer;
      }

      .btn {
        background-color: var(--transparent-color);

        &:hover {
          background-color: var(--overlay-item-hovered-color);
        }
      }
    }
  }
}
