@if (board(); as board) {
  <div class="wrapper d-flex flex-column w-100 h-100">
    <div
      class="board__header bg__secondary d-flex w-100 align-items-center px-3"
    >
      <h1
        class="content__editable m-0 fs-5 fw-bolder text-white px-2"
        contenteditable
        #h1
        (blur)="handleTitleChange(h1.innerText)"
      >
        {{ board.name }}
      </h1>
    </div>

    <ol
      class="ls-none w-100 d-flex flex-grow-1 px-4 pt-4 mb-0 gap-2"
      cdkDropListGroup
      cdkDropList
      cdkDropListOrientation="horizontal"
      (cdkDropListDropped)="drop($event)"
    >
      @for (list of board.lists; track list.name) {
        <li cdkDrag>
          <todo-list [list]="list" (modifiedList)="updateBoard()" />
        </li>
      }

      @if (loaded()) {
        <li>
          <button
            mat-button
            class="bg__primary btn w-100 fs-8 text-white d-flex flex-grow-1 justify-content-start"
            (mousedown)="addList()"
          >
            <mat-icon>add</mat-icon>
            <span>Add a list</span>
          </button>
        </li>
      }
    </ol>
  </div>
}
